# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# templates
.github/templates/*

# History
.history

# Project files
sketch*
ukp_report_template/sketch*

# PyCharm Files
.idea
misc.xml
*.code-workspace


# Ignoriere alle model.safetensors Dateien
*.safetensors

# Ignoriere alle optimizer.pt Dateien
*.pt
*.json
*.jsonl

# vscode launch file
.vscode/launch.json

# model files
backend/models/attitude_root/config.json
backend/models/attitude_root/special_tokens_map.json
backend/models/attitude_root/tf_model.h5
backend/models/attitude_classifier/
backend/models/attitude_root/tokenizer_config.json
backend/models/attitude_root/vocab.txt
backend_old/models/attitude_root/tf_model.h5
.h5

#unpublished developer training files of summary generator
summary_generator/approach_A
summary_generator/approach_B
summary_generator/refactoring
summary_generator/final
summary_generator/models/llama2

model_training/nlp/review_to_theme/results/
request_classifier/models/attitude_classifier/tf_model.h5
*.h5
/model_training/nlp/attitude_classifier/logs
attitude_classifier/models/
